.newsletter--narrow .newsletter__wrapper,
.newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  /* margin-top: 5rem;
  margin-bottom: 5rem; */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.newsletter__wrapper:not(.color-background-1) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.newsletter__wrapper {
  padding-right: 4rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsletter__image {
  height: 200px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .newsletter__wrapper {
    flex-direction: row;
    padding-right: 0rem;
  padding-left: 0rem;
  }
  .newsletter__image {
    width: 50%;
    height: 200px;
  }
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    /* padding-right: 9rem;
    padding-left: 9rem; */
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  width: fit-content;

  box-shadow: none;
  opacity: 0.4;
  width: 50%;
}

.newsletter-form__field-wrapper div input  {
  box-shadow: none;
  padding: 3rem;
}

.newsletter__wrapper form {
  border-bottom: solid 1px;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}

.custom-search-botton {
  position: absolute;
  background: url("./arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  /* z-index: 2; */
  box-shadow: none;
}

button.button.newsletter__button.custom-search-botton {
  box-shadow: none; 
}